body {
    background: #eee;
}

#content {
    width: 400px;
    background: #fff;
    padding: 20px;
    padding-top: 0;
    font-family: cursive;
    font-size: 18px;
    color: #444;
    margin: 0 auto;

    max-height: 270px;
    overflow: hidden;

    -webkit-transition: max-heigth 0.7s;
    -moz-transition: max-hegith 0.7s;
    transition: max-height 0.7s;
}

#content.open {
    max-height: 1000px;

    -webkit-transition: max-hegith 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more {
    background: #1594e5;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    width: 25%;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px;

}